

.post{
    width:660px;
    display: flex;
    flex-direction: column;
    border-block:1px solid black;
    margin-block:0.3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.top-card-header{
    padding: 0.5rem;
    height: 3rem;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-user-info {
    display: flex;
    align-items:center;
    gap: 0.8rem;
    }
     
.post-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.post-user-details {
    display: flex; 
    flex-direction: column; 
    gap: 3px; 
} 
.post-username { 
    font-size: 14px; 
    font-weight: 600; 
    color: #111; 
} 
.post-time { 
    font-size: 12px; 
    color: #777; 
} 
.post-options-btn { 
    border: none; 
    background: transparent; 
    cursor: pointer; 
    font-size: 18px; 
    color: #222; 
}

.post-image{
    width:100%;
    padding-top:1rem;
}
/* card top complete */

/* image show post in card*/
.post-content{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-bottom{
    width: 100%;
}
.icons-card{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1.5rem;
    width:100%;
}
.icons-card span{
    font-size:2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.icons-card p{
    font-size: 1rem;
}
.like-related{
    display: flex;
    gap: 20px;
}
.liked-post{
    color:red;
    
}

.comment-box{
    display:flex;
    flex-wrap: wrap;
    margin: 10px;
    padding-top:10px ;
    width:100%;
    justify-content: space-around;
    align-items: center;
}
.comment-box button{
    padding: 1rem 3rem;
    background-color: aqua;
    font-size: 1rem;
    outline: none;
    border: none;
}
.comment-text{
    width:450px;
    height: 50px;
    font-size: 1rem;
    outline: none;
    border: 1px solid black;
    resize: none;
    padding: 0.3rem;
}


/* bottom */


@media (max-width:700px) {
    .post{
        width:310px;
    }
    .icons-card span{
        font-size: 1.5rem;
    }
    .icons-card p{
        font-size:0.7rem;
    }
}
@media (max-width:425px) {
   .comment-box{
    display: none;
   } 
}