
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.instagram-auth {
  min-height: 100vh;
  background: #fafafa;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #262626;
}

.login-container,
.register-container {
  width: 350px;
  text-align: center;
}

.login-box,
.signup-box {
  background: #fff;
  border: 1px solid #dbdbdb;
}

.login-box {
  padding: 10px 40px;
}

.instagram-logo {
  font-family: "Brush Script MT", cursive;
  font-size: 42px;
  margin-bottom: 35px;
  color: #111;
}

.login-box form {
  width: 100%;
}

.login-box input {
  width: 100%;
  height: 38px;
  padding: 9px 10px;
  margin-bottom: 7px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background: #fafafa;
  outline: none;
  font-size: 12px;
}

.login-box input:focus {
  border-color: #aaa;
}

.password-input {
  position: relative;
}

.password-input input {
  padding-right: 55px;
}

.password-input button {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: transparent;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  height: 34px;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  background: #0095f6;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.login-btn:hover {
  background: #1877f2;
}

.or-divider {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 25px 0;
}

.or-divider span {
  height: 1px;
  background: #dbdbdb;
  flex: 1;
}

.or-divider p {
  color: #737373;
  font-size: 12px;
  font-weight: 600;
}

.facebook-login {
  border: none;
  background: transparent;
  border: 1px solid #00376b;
  border-radius: 20px;
  color: #385185;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 20px;
  cursor: pointer;
}

.forgot-password {
  display: block;
  margin-top: 20px;
  color: #00376b;
  font-size: 12px;
  text-decoration: none;
}

.sign-in{
  font-size: 14px; 
  margin-top: 10px; 
}
.sign-in a {
  color: #0095f6;
  font-weight: 600;
  text-decoration: none;
}

.get-app {
  margin: 20px 0;
  font-size: 14px;
}

.app-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.app-buttons button {
  border: none;
  background: #111;
  color: #fff;
  border-radius: 6px;
  padding: 9px 15px;
  font-size: 11px;
  cursor: pointer;
}

/* Register */

/* .register-box {
  padding: 35px 40px;
} */

.register-box .instagram-logo {
  margin-bottom: 20px;
}

.register-box h2 {
  color: #737373;
  font-size: 17px;
  line-height: 22px;

}

.register-facebook {
  width: 100%;
  height: 34px;
  background: #0095f6;
  color: #fff;
  border-radius: 8px;
}

.register-box .terms {
  color: #737373;
  font-size: 11px;
  line-height: 16px;
  margin: 15px 0;
}

/* Responsive */

@media (max-width: 450px) {
  .instagram-auth {
    padding-top: 0;
    background: #fff;
  }

  .login-container,
  .register-container {
    width: 100%;
  }

  .login-box,
  .signup-box {
    border: none;
  }

  .login-box {
    padding: 40px 30px;
  }

  .signup-box {
    border-top: 1px solid #dbdbdb;
  }
}